@import url('https://fonts.googleapis.com/css2?family=Itim&family=Jacques+Francois+Shadow&family=Kadwa:wght@400;700&display=swap');

:root {
    --color-primaria: #BC6775;
    --color-secundaria: #EFDAD2;
    --color-terciaria:#FFE8CD;
    --color-hover: #f6eff0;

    --color-button:#8b4a75;
    --color-button-hover: #bc67a0;

    --font-primaria:'Kadwa', sans-serif;
    --font-secundaria: "Itim", serif;
    --font-terciaria: "Jacques Francois Shadow", serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-primaria);
    color: var(--color-primaria);
    background-color: var(--color-terciaria);
}

.container {
    width: 100%;
    
}

header{
    position: sticky;
    top: 0;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
}

.logo {
    padding-left: 2rem;
    padding-top: 1rem;
}
.nav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.nav ul {
    display: flex;
    list-style-type: none;
    
}

.nav li +li {
    margin-left: 1rem;
}   

.nav a {
    text-decoration: none;
    color: var(--color-secundaria);
    align-items: flex-end;
}

.logo:hover,
.nav a:hover {
    color: var(--color-hover);
}

.banner,
.about,
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 2rem 0;
}

.about,
.form {
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
}

.form__contact{
    display: flex;
    flex-direction: column;
}

.button {
    text-decoration: none;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: var(--color-button);
    color: var(--color-terciaria);
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 10px;
    border-color: var(--color-hover);
}

.button:hover {
    background-color: var(--color-button-hover);
}

footer{
    text-align: center;
    padding: 1rem;
}